@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.btn-custom{
    border: none;
}

.main-modal{
    width: 900px;
    margin: 160px auto auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.main-modal #btn-create, #btn-join{
    text-align: center;
    width: 450px;
    height: 560px;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btn-create{
    background-color: #303e4d;
    color: white;
}

#btn-create:hover{
    background-color:  #4c5f73;
}

#btn-join{
    background-color: #B0C4DE;
    color: #354455;
}

#btn-join:hover{
    background-color:  #cddef3;
}

#btn-demo{
    text-align: center;
    width: 1000px;
    margin: 780px auto auto;
    height: 60px;
    padding-top: 4px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #C4E9F4;
    color: #354455;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btn-demo:hover{
    background-color: #D6EDF5;
}

html, body, #root, .App {
    height: 100%;
}
