@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.btn-join {
    background-color: purple;
    color: white;
}

.btn-create{
    background-color: #007bff;
    color: white;
}

.main-modal{
    height: 300px;
    width: 900px;
    margin: auto;
    text-align: center;
}

.main-modal .left, .right{
    text-align: center;
    margin-top: 160px;
    height: 560px;
    padding-top: 250px;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left{
    background-color: #303e4d;
    color: white;
}

.left:hover{
    background-color:  #4c5f73;
}

.right{
    background-color: #B0C4DE;
    color: #354455;
}

.right:hover{
    background-color:  #cddef3;
}

#demo-row{
    width: 1000px;
    margin: auto;
    text-align: center;
}

#demo{
    text-align: center;
    margin-top: 480px;
    height: 60px;
    padding-top: 12px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #C4E9F4;
    color: #354455;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#demo:hover{
    background-color: #D6EDF5;
}

html, body, #root, .App {
    height: 100%;
}
